:root {
    --colorText: floralwhite;
    --colorBgPrimary: red;
}

#box {
    color: var(--colorText);
    background-color: var(--colorBgPrimary);
    border: solid thin var(--colorBgPrimary);
    border-radius: 0.5rem;
}